@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons {
  font-family: 'Material Icons';
  display: inline-block;
}

@layer base {
  html {
    font-family: 'Inter', 'Noto Sans KR', sans-serif;
  }
  
  .highlighted {
    @apply bg-[#EFFF8C]
  }

  p {
    @apply mb-5
  }
  p > span {
    @apply  font-semibold bg-pink-100
  }
  .blackItalic {
    @apply text-2xl italic font-extrabold
  }


  .visuallyhidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
  }

  /* 스크롤 Title 애니메이션 */
  .show > span > span:first-child {
    transition: transform 2.5s cubic-bezier(0.19, 1, 0.22, 1) .3s;
    @apply translate-y-0
  }
  .show > span > span:last-child {
    transition: width 2s cubic-bezier(0.19, 1, 0.22, 1) .3s;
    @apply w-full
  }

  /* 스크롤 aboutText 이벤트 */
  #aboutText {
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}
